#app-todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.txt-fucsia {
  color: rgb(161, 7, 161);
}

a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;

  &:hover {
    color: rgb(129, 12, 129);
  }
}

.link_active {
  color: fuchsia;
}
