#app-todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.txt-fucsia {
  color: rgb(161, 7, 161);
}

span {
  margin-right: 1rem;
}
